{% extends 'landing/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block myheading %}
{% include 'landing/navbar.html' %}
{% endblock %}

{% block content %}

<!-- {% include 'contact/contactContent.html' %} -->

<br><br>

<div class="w3-row">
    <div class="w3-col l8 s12">
        <div class="w3-container">
            <h2 class="w3-padding-32">Your message has been sent!</h2>
            <hr style="border: 1px solid black;">
            <br>
            <p>Thank you for your interest in our art and choosing to inquire about one of our services. As soon as time permits, we will respond to your contact message. We thank you for your patience and support.</p>
            <br>            
        </div>
    </div>
    <div class="w3-col l4 s12 w3-light-grey">
        <div classd="w3-card w3-padding">
            <h3 class="w3-padding w3-wide">Next</h3>
            <hr style="border: 1px solid black">
            <ul>
              <li class="w3-bar"><a class="postlink" href="/">Home</a></li>
              <li class="w3-bar"><a class="postlink" href="{% url 'aftercare' %}">Aftercare</a></li>

            </ul>
        </div>
    </div>
</div>
{% endblock %} 


{% include 'landing/footer.html' %} 