{% load static %}

<!DOCTYPE html>



<section class="u-align-right u-clearfix u-image u-shading u-section-1" id="carousel_5606" data-image-width="1920" data-image-height="886">
      <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
        <div class="u-align-left u-border-20 u-border-palette-4-base u-container-style u-group u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Full Service Tattoo Studio<br>
            </h1>
            <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Located at 25 W. Pacheco Blvd Suite C. Unaphiliated Ink provides a comfortable environment for all of your Body Art needs.&nbsp; Our artist specialize in a range of tattoo styles. Traditional to realism let our artist bring your dreams to life. We are certified in Micro Blading by Linnie and will be offering many other Permanent Make Up solutions.&nbsp;</p>
            <a href="{% url 'contact'}" data-page-id="280870034" class="u-active-white u-align-center u-border-2 u-border-white u-btn u-button-style u-hover-white u-none u-text-active-black u-text-hover-black u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" target="_blank">Schedule a consultation</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_2b9c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Our Services</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" src="" data-image-width="880" data-image-height="912" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <a href="{% url 'landing/baseContact.html'}" data-page-id="280870034" class="u-active-palette-4-base u-align-center u-btn u-button-style u-hover-palette-4-base u-text-active-white u-text-hover-white u-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Tattoos</a>
              </div>
            </div>
            <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" src="" data-image-width="880" data-image-height="912" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <a href="{% url 'landing/baseContact.html'}" data-page-id="280870034" class="u-active-palette-4-base u-align-center u-btn u-button-style u-hover-palette-4-base u-text-active-white u-text-hover-white u-white u-btn-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Micro-blading</a>
              </div>
            </div>
            <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-container-style u-image u-list-item u-repeater-item u-shading u-image-3" src="" data-image-width="880" data-image-height="912" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <a href="{% url 'landing/baseContact.html'}" data-page-id="280870034" class="u-active-palette-4-base u-align-center u-btn u-button-style u-hover-palette-4-base u-text-active-white u-text-hover-white u-white u-btn-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">P.M.u service</a>
              </div>
            </div>
            <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-container-style u-image u-list-item u-repeater-item u-shading u-image-4" src="" data-image-width="880" data-image-height="912" data-animation-name="customAnimationIn" data-animation-duration="1500">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                <a href="{% url 'landing/baseContact.html'}" data-page-id="280870034" class="u-active-palette-4-base u-align-center u-btn u-button-style u-hover-palette-4-base u-text-active-white u-text-hover-white u-white u-btn-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Piercings</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-4" id="carousel_fe33" data-image-width="1920" data-image-height="1048">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-container-style u-layout-cell u-size-33-lg u-size-40-xl u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-text u-text-default u-text-1">Give us a call today or come by to 25 W. Pacheco Blvd. Suite C.&nbsp;</h2>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-20-xl u-size-27-lg u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <a href="tel:4083966815" class="u-active-black u-border-none u-btn u-button-style u-hover-black u-palette-4-base u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">+1 (408) 396-6815</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <section class="u-align-center u-clearfix u-white u-section-3" id="carousel_a61e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-large-text u-text u-text-variant u-text-1">Follow us today. We post weekly specials and giveaways. You might find your self clicking your way to a free tattoo. We use the following platforms for online consultations. All you need is a camera and a ruler.</p>
       
          </a>
          <br><br>
           <br><br>
                 
      <div class="logo-container u-align-center u-clearfix u-white u-section-5">
      
      
      <a href="http://instagram.com/unaphiliated_ink"><img class="logo" img src="{% static 'images/instagramLogo.png' %}"></a>
     
    
      <a href="http://facebook.com/unaphiliatedink"><img class="logo" img src="{% static 'images/faceBookLogo.png' %}"></a>


      <a href="http://www.twitter.com/unaphiliatedink"><img class="logo"img src="{% static 'images/twitterLogo.png' %}"></a>

    
          </div>
        </div>
      </div>
    </section>
 
<br>
      <section class="u-align-center u-clearfix u-white u-section-5" id="sec-3114">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1">
                    <div class="u-align-left u-expanded u-grey-light-2 u-map" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                      <div class="embed-responsive">
                        <iframe class="embed-responsive-item" src="//maps.google.com/maps?output=embed&amp;q=25%20w.%20pacheco%20blvd&amp;z=18&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyMjUlMjB3LiUyMHBhY2hlY28lMjBibHZkJTIyJTJDJTIyem9vbSUyMiUzQTE4JTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlN0Q="></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout u-container-layout-2">
                    <h3 class="u-align-center u-text u-text-1">Schedule an online Consultaion</h3></a>
                    <div class="u-align-center u-text u-text-1">
                    <a href="tel:4083966815" class="u-active-black u-border-none u-btn u-button-style u-hover-black u-palette-4-base u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500">+1 (408) 396-6815</a>
                   <br>
                    <h6 class="u-align-center u-text u-text-2">We use all social platforms to provide a contact-less consultation solution.&nbsp;</h6>
</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
 
<br>
<br><br><br>
    
    </html>