{% load static %}

 <footer class="footer">
  <div class="footer" align= "center">
    <picture>
      <img src="{% static 'images/Artboard1.png' %}" height="50%" width= "50%" >
    </picture>
   
    <p>25 W Pacheco Blvd. Suite C. Loss Banos Ca, 93635</p>  
    
   
  </div>
  
  
  <div class="footer" align= "center"> 
    <a href="mailto:unaphiliatedink@gmail.com">Email Us</a>
  
 
  
    <div class="legal bg-dark p-2">
      <p class="text-white">Unaphiliated Ink LLC. &copy; 2022 All rights reserved.</p>
      
      <div class="legal__links">
        <span class="text-secondary">Developed By Alcadel Solutions</span>
      </div>
    </div>
  </div>
</footer>