{% extends 'landing/base.html' %}
{% load static %}

{% block myheading %}
{% include 'landing/navbar.html' %} 
{% endblock %}

{% block content %}

<div class="container py-4">

    <div class="p-5 mb-4 w3-light-blue rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold w3-opacity">Aftercare</h1>
        <p class="col-md-8 fs-4 w3-opacity">Your one stop spot for your aftercare needs.</p>
      </div>
    </div>
    
    <div class="w3-cell-row">

        <div class="w3-container w3-light-gray w3-cell w3-mobile">
            <h3><strong>Cleaning Solutions</strong></h3>
            <p>The Association of Professional Piercers (APP) no longer makes suggestions to mix your own sea salt solution (APP, 2020) as it can commonly result in over drying the piercing as well as interupt the healing process.</p> 
            <p><strong>The recommendation now, and strongly encouraged, is to use sterile saline labeled for wound washing.</strong><span class="w3-text-red"> Contact lens saline, eye drops, and other saline products should never be used on a body piercing.</span></p>
        </div>

        <div class="w3-container w3-gray w3-cell w3-mobile">
            <h3><strong>Cleaning Instructions For Body Piercings</strong></h3>
            <ul>
                <li><p><strong>WASH</strong> your hands thoroughly prior to cleaning or touching your piercing for any reason.</p></li>
                <li><strong>SALINE</strong> rinse as needed during healing. For certain placements it may be easier to apply using clean gauze saturated with saline solution. A brief rinse afterward will remove any residue.
        If your piercer suggests using soap, gently lather around the piercing and rinse as needed. Avoid using harsh soaps, or soaps with dyes, fragrances, or triclosan.</li>
                <li><p><strong>RINSE</strong> thoroughly to remove all traces of the soap from the piercing. It is not necessary to rotate the jewelry through the piercing.</p></li>
                <li><p><strong>DRY</strong> by gently patting with clean, disposable paper products because cloth towels can harbor bacteria and snag on jewelry, causing injury.</p></li>
            <ul>
        </div>

    </div>
    
    <div class="w3-container">
        <h3><strong>What is Normal?</strong></h3>
        <p><strong>Initially:</strong> some bleeding, localized swelling, tenderness, or bruising.</p>
        <p><strong>During healing:</strong> some discoloration, itching, secretion of a whitish-yellow fluid (not pus) that will form some crust on the jewelry. The tissue may tighten around the jewelry as it heals.</p>
        <p><strong>Once healed:</strong> the jewelry may not move freely in the piercing; do not force it. If you fail to include cleaning your piercing as part of your daily hygiene routine, normal but smelly bodily secretions may accumulate.</p>
        <p>A piercing may seem healed before the healing process is complete. This is because tissue heals from the outside in, and although it feels fine, the interior remains fragile. Be patient, and keep cleaning throughout the entire healing period.</p>
        <p>Even healed piercings can shrink or close in minutes after having been there for years! This varies from person to person; if you like your piercing, keep jewelry in—do not leave it empty.</p>
    </div>

    <div class="w3-cell-row">

        <div class="w3-container w3-border w3-border-red w3-cell w3-mobile">
            <h3><strong><center>What to Do</center></strong></h3>
            <ul>
                <li>Wash your hands prior to touching the piercing; leave it alone except when cleaning. During healing it is not necessary to rotate your jewelry</li>
                <li>Exercise during healing is fine; listen to your body.</li>
                <li>Make sure your bedding is washed and changed regularly. Wear clean, comfortable, breathable clothing that protects your piercing while you are sleeping.</li>
                <li>Showers tend to be safer than taking baths, as bathtubs can harbor bacteria. If you bathe in a tub, clean it well before each use and rinse off your piercing when you get out.</li>
            </ul>
        </div>

        <div class="w3-container w3-border w3-border-red w3-pale-red w3-cell w3-mobile">
            <h3><strong><center>What to Avoid</center></strong></h3>
            <ul>
                <li>Avoid cleaning with alcohol, hydrogen peroxide, antibacterial soaps, iodine, or any harsh products, as these can damage cells. Also avoid ointments as they prevent necessary air circulation.</li>
                <li>Avoid Bactine®, pierced ear care solutions, and other products containing Benzalkonium Chloride (BZK). These can be irritating and are not intended for long-term wound care.</li>
                <li>Avoid over-cleaning. This can delay your healing and irritate your piercing. • Avoid undue trauma such as friction from clothing, excessive motion of the area, playing with the jewelry, and vigorous cleaning. These activities can cause the formation of unsightly and uncomfortable scar tissue, migration, prolonged healing, and other complications.</li>
                <li>Avoid all oral contact, rough play, and contact with others’ bodily fluids on or near your piercing during healing.</li>
                <li>Avoid stress and recreational drug use, including excessive caffeine, nicotine, and alcohol.</li>
                <li>Avoid submerging the piercing in unhygienic bodies of water such as lakes, pools, hot tubs, etc. Or, protect your piercing using a waterproof wound sealant bandage. These are available at most drugstores and work best for nipple, navel, and surface piercing placements.</li>
                <li>Avoid all beauty and personal care products on or around the piercing including cosmetics, lotions, and sprays, etc.</li>
                <li>Don’t hang charms or any object from your jewelry until the piercing is fully healed. • Sleeping directly on a healing cartilage piercing can cause irritation, even causing shifts in the piercing’s angle. Placing a travel pillow, on top of your pillow, and then placing your ear in the opening can be helpful to avoid this.</li>
            </ul>
        </div>
        

    </div>
    
    <br/>
    
    <div class="w3-cell-row">
        <div class="w3-container w3-gray w3-cell w3-mobile">
            <h3><strong>For Particular Areas</strong></h3>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title w3-panel w3-padding w3-leftbar w3-border-light-gray w3-pale-blue">Navel</h5>
                    <p class="card-text">A hard, vented eye patch (sold at pharmacies) can be applied under tight clothing (such as nylon stockings) or secured using a length of elastic bandage around the body (to avoid irritation from adhesive). This can protect the area from restrictive clothing, excess irritation, and impact during physical activities such as contact sports.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title w3-panel w3-padding w3-leftbar w3-border-light-gray w3-pale-blue">Ear/Ear Cartilage & Facial</h5>
                    <ul class="card-text">
                        <li>Use the t-shirt trick: Dress your pillow in a large, clean t-shirt and turn it nightly; one clean t-shirt provides four clean surfaces for sleeping.</li>
                        <li>Maintain cleanliness of telephones, headphones, eyeglasses, helmets, hats, and anything that contacts the pierced area.</li>
                        <li>Use caution when styling your hair and advise your stylist of a new or healing piercing.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title w3-panel w3-padding w3-leftbar w3-border-light-gray w3-pale-blue">Nipples</h5>
                    <p class="card-text">The support of a tight cotton shirt or sports bra may provide protection and feel comfortable, especially for sleeping.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title w3-panel w3-padding w3-leftbar w3-border-light-gray w3-pale-blue">Genital</h5>
                    <ul class="card-text">
                        <li>Genital Piercings – especially Triangles, Prince Alberts, Ampallangs, and Apadravyas – can bleed freely for the first few days. Be prepared. Additional cleaning after urination is not necessary</li>
                        <li>Wash your hands before touching on (or near) a healing piercing.</li>
                        <li>In most cases you can engage in sexual activity as soon as you feel ready, but maintaining hygiene and avoiding trauma are vital; all sexual activities should be gentle during the healing period.
</li>
                        <li>Use barriers such as condoms, dental dams, and waterproof bandages, etc. to avoid contact with your partners’ body fluids, even in long-term monogamous relationships.</li>
                        <li>Use clean, disposable barriers on sex toys.</li>
                        <li>Use a new container of water-based lubricant; do not use saliva.</li>
                        <li>After sex, an additional saline rinse is suggested.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <br/>
            
        </div>
    </div>
    
    <div class="w3-light-blue">
        <small><p class="w3-padding">*Disclaimer: The information on this page is sourced from it's origin, the APP website. All information provided is permitted by the APP for general public use under the This brochure is licensed under the Creative Commons Attribution-Noncommercial-No Derivative Works License.To view a copy of this license, visit https://creativecommons.org/licenses/by-nc-nd/3.0/</p></small>
    </div>
</div>

{% endblock %}